
<label for="color">Favourite Color: </label>
<input id="color" type="text" [formControl]="favoriteColorControl">

You entered: {{this.favoriteColorControl.value}}

<h1></h1>

<div class="container">

  <h1>User Registration</h1>

  <form [formGroup] = "reactiveForm" (ngSubmit)="submit()">

    <div >

      <label for="firstname">FirstName</label><br>

      <input type="text" id="firstname" name="firstname" formControlName="firstname" > {{this.reactiveForm.value.firstname}}

    </div>

    <pre></pre>

    <div class="form-group">

      <label for="lastname">LastName</label><br>

      <input type="text" id="lastname" name="lastname" formControlName="lastname"    >

    </div>

    <pre></pre>

    <div class="form-group">

      <label for="email">EmailID</label><br>

      <input type="text" id="email" name="email" formControlName="email"  >

    </div>

    <pre></pre>

    <div class="form-group">

      <label for="password">Password</label><br>

      <input type="text" id="password" name="password" formControlName="password"  >

    </div>

    <pre></pre>

    <button type="submit" (click)="submit()">Submit</button> &nbsp;
    <button type="reset" (click)="reset()"> Reset </button>

  </form>

</div>
